/* main.css */
/* @tailwind base; */
@tailwind base;
/* @tailwind components; */
@tailwind components;
/* @tailwind utilities; */
@tailwind utilities;

html,
body {
  background-color: #f1f1f1;
}

.router-link-exact-active {
  @apply underline font-semibold transition-all;
}
